.like-button {
  position: absolute;
  bottom: 17px;
  right: 17px;
  padding: 14px;
  min-width: 56px;
  min-height: 56px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-default-white;
  overflow: hidden;
  transition: background $trans-default;

  &--active {
    background: $color-radical-red;

    .like-button__counter {
      margin-left: 7px;
      display: block;
      max-width: 100%;
      opacity: 1;
      transform: translateX(0);
    }

    .like-button__icon {
      path {
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }
}

.like-button__counter {
  max-width: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform $trans-default;
}

.like-button__icon {
  path {
    &:nth-child(2) {
      opacity: 0;
      transition: opacity $trans-default;
    }
  }
}