.news-block {
  @include adaptiveFull('padding-top', 200, 200, 110);
  position: relative;

  &::before {
    transform: translateX(100px);
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &--active {
    &::before {
      transform: unset;
    }
  }
}
.news-block__title {
  position: relative;
}
.news-block__description {
  margin-top: 20px;
  font-size: 18px;
  max-width: 600px;
  position: relative;
}
.news-block__news-list {
  @include adaptiveFull('margin-top', 120, 120, 35);
  display: grid;
  grid-template-columns: 1fr 1.26fr;
  @include adaptiveFull('column-gap', 135, 135, 0);

  @include vp-767 {
    display: block;
  }
}
.news-block__news-list-column {
  // &:not(:first-child) {
  //   @include adaptiveFull('margin-top', -150, -150, 0);
  // }

  @include vp-767 {
    // &:not(:first-child) {
    //   margin-top: 0;
    // }

    &:not(:last-child) {
      @include adaptiveFull('margin-bottom', 120, 120, 60);
    }
  }
}
.news-block__news {
  &:not(:last-child) {
    @include adaptiveFull('margin-bottom', 120, 120, 60);
  }
}
.post {
}
.post__photo-wrapper {
  position: relative;
  @include adaptiveFull('margin-bottom', 35, 35, 16);
  max-width: 100%;
}
.post__photo {
  @include adaptiveFull('border-radius', 20, 20, 15);
  max-width: 100%;
}
.post__title {
  @include adaptiveFull('font-size', 38, 38, 28);
  line-height: 1.2;
}
.post__description {
  @include adaptiveFull('margin-top', 20, 20, 13);
}
.post__more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: $color-default-black;
  border-radius: 20px;
  padding: 16px 42px;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: $color-default-white;
  @include adaptiveFull('margin-top', 30, 30, 16);
  transition: opacity $trans-default;

  &:hover {
    opacity: 0.8;
  }

  @include vp-767 {
    width: 100%;
  }
}