<section id="enviromental" class="enviromental news-block">
  <div class="container">
    <h2 class="news-block__title title-lg">Enviromental</h2>
    <p class="news-block__description">
      Для нашей компании очень важна забота об&nbsp;окружающей среде. Но&nbsp;планету сберечь можно только общими усилиями. Забота о&nbsp;ней&nbsp;&mdash; это дело каждого человека, которое начинается с&nbsp;малого. Это выключить свет. Это новый энергоэффективный дата-центр и&nbsp;машина с&nbsp;электродвигателем. Посаженное на&nbsp;улице города дерево.
    </p>
    <div class="news-block__news-list">
      <ul class="news-block__news-list-column">
        <li class="news-block__news">
          <div class="test test--green" data-test-id="15648657">
            <p class="test__question">На&nbsp;сколько выросли пожертвования на&nbsp;эко-проекты Добро.Mail.ru в&nbsp;2021&nbsp;г.?</p>
            <ul class="test__answers">
              <li class="test__answer">
                <button>10%</button>
              </li>
              <li class="test__answer">
                <button>30%</button>
              </li>
              <li class="test__answer">
                <button>50%</button>
              </li>
              <li class="test__answer">
                <button>60%</button>
              </li>
            </ul>
            <p class="test__count">
              Проголосовали <span>-</span> человек
            </p>
          </div>
        </li>
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <img src="img/content/post-1.png" class="post__photo">
              @@include("source/html/components/like-button.html", {
                id: 6,
              })
            </div>
            <h3 class="post__title">Якутия Горит! Остановим лесные пожары</h3>
            <p class="post__description">
              Летом 2021 года на&nbsp;территории самого большого региона России&nbsp;&mdash; Республики Саха (Якутия)&nbsp;&mdash; бушевали разрушительные лесные пожары. Они охватили территорию более 7&nbsp;000&nbsp;000 гектаров&nbsp;&mdash; это больше, чем территория Грузии. Добро.Mail.ru собрали &gt;580,000&nbsp;рублей, которые помогли купить необходимое оборудование для тушения пожаров.
            </p>
          </div>
        </li>
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <img src="img/content/post-2.png" class="post__photo">
              @@include("source/html/components/like-button.html", {
                id: 7,
              })
            </div>
            <h3 class="post__title">VK - Дельфа</h3>
            <p class="post__description">
              В&nbsp;2021 году&nbsp;VK начала сотрудничество с&nbsp;фондом по&nbsp;спасению дельфинов &laquo;Дельфа&raquo;. Фонд &laquo;Дельфа&raquo; занимается организацией лечения, реабилитации и&nbsp;скорой помощи для черноморских дельфинов. Сейчас краснокнижные дельфины-афалины находятся на&nbsp;грани исчезновения и&nbsp;нередко попадают в&nbsp;нелегальные дельфинарии. &laquo;Дельфа&raquo; помогает возвращать им&nbsp;свободу, а&nbsp;также выхаживает тех дельфинов, которые нуждаются в&nbsp;помощи человека.
            </p>
          </div>
        </li>
      </ul>
      <ul class="news-block__news-list-column">
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <iframe class="post__photo" width="550" height="300" src="//ok.ru/videoembed/2211769354951" frameborder="0" allow="autoplay" allowfullscreen></iframe>
              @@include("source/html/components/like-button.html", {
                id: 8,
              })
            </div>
            <h3 class="post__title">Час Земли</h3>
            <p class="post__description">
              Каждый год проекты&nbsp;VK участвуют в&nbsp;экологической акции WWF &laquo;Час Земли&raquo;. В&nbsp;2021 году проект поддержали ВКонтакте, Одноклассники, Дети Mail.ru, Добро Mail.ru и&nbsp;DonationAlerts
            </p>
            <a href="#" class="post__more">Результаты проекта</a>
          </div>
        </li>
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <img src="img/content/post-4.png" class="post__photo">
              @@include("source/html/components/like-button.html", {
                id: 9,
              })
            </div>
            <h3 class="post__title">ЦОД: новый энергоэффективный центр </h3>
            <p class="post__description">
              В&nbsp;2021 году мы&nbsp;запустили проектирование нового дата-центра, первая очередь которого рассчитана на&nbsp;общую мощность в&nbsp;5МВт. Первые результаты тепловых тестов, проведенных в&nbsp;нашей новой лаборатории, позволили значительно повысить допустимую температуру эксплуатации оборудования, что было учтено на&nbsp;этапе проектирования при выборе концепции решения. Пиковый расчетный PUE должен составить всего 1.15, что означает для нас до &minus;40% от&nbsp;общего потребления дата-центра при идентичной вычислительной мощности относительно, например, классической фреоновой системы. 
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <img class="bg-circle" id="circle2" src="img/svg/bg-circle-green.svg" />
</section>