<section id="governance" class="governance news-block">
  <div class="container">
    <h2 class="news-block__title title-lg">Governance</h2>
    <p class="news-block__description">
      Высокое качество корпоративного управления&nbsp;&mdash; важнейшая часть нашего ESG-подхода. Мы&nbsp;делаем фокус на&nbsp;кибербезопасности и&nbsp;стараемся продвигать повестку устойчивого развития на&nbsp;всех уровнях компании.
    </p>
    <div class="news-block__news-list">
      <ul class="news-block__news-list-column">
        <li class="news-block__news">
          <div class="test test--pink" data-test-id="65471834">
            <p class="test__question">Сколько VK&nbsp;выплатила независимым исследователям в&nbsp;рамках программы поиска уязвимостей за&nbsp;вознаграждение Bug Bounty в&nbsp;2021&nbsp;году?</p>
            <ul class="test__answers">
              <li class="test__answer">
                <button>50 000$</button>
              </li>
              <li class="test__answer">
                <button>150 000$</button>
              </li>
              <li class="test__answer">
                <button>300 000$</button>
              </li>
              <li class="test__answer">
                <button>500 000$</button>
              </li>
            </ul>
            <p class="test__count">
              Проголосовали <span>-</span> человек
            </p>
          </div>
        </li>
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <img src="img/content/post-10.png" class="post__photo">
              @@include("source/html/components/like-button.html", {
                id: 15,
              })
            </div>
            <h3 class="post__title">Кибербезопасность</h3>
            <p class="post__description">
              В&nbsp;2021 году мы&nbsp;запустили реформу системы информационной безопасности и&nbsp;обновленную программу защиты данных пользователей&nbsp;&mdash; VK&nbsp;Protect. VK&nbsp;ID&nbsp;появился во&nbsp;всех сервисах экосистемы, вместе с&nbsp;ним всем пользователям стала доступна двухфакторная аутентификация. Наиболее важная цель программы VK&nbsp;Protect&nbsp;&mdash; рассказать, как повысить уровень защиты данных, и&nbsp;дать инструменты для этого.
            </p>
          </div>
        </li>
      </ul>
      <ul class="news-block__news-list-column">
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <img src="img/content/post-12.png" class="post__photo">
              @@include("source/html/components/like-button.html", {
                id: 17,
              })
            </div>
            <h3 class="post__title">Линия доверия</h3>
            <p class="post__description">
              В&nbsp;2021 году мы&nbsp;обновили Линию Доверия&nbsp;&mdash; наш независимый, конфиденциальный и&nbsp;анонимный канал связи для &laquo;неудобных вопросов&raquo;, жалоб, сомнений и&nbsp;обращений по&nbsp;поводу того, соблюдает&nbsp;ли VK&nbsp;и&nbsp;ее&nbsp;сотрудники нормы закона и&nbsp;этики. Этот канал доступен для каждого, кто работает в&nbsp;любой из&nbsp;компаний и&nbsp;проектов VK. Линией доверия могут воспользоваться также клиенты, пользователи, партнеры, подрядчики и&nbsp;другие люди, взаимодействующие с&nbsp;компанией.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <img class="bg-circle" id="circle3" src="img/svg/bg-circle-pink.svg" />
</section>