<section class="news">
  <div class="news__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="news__post">
          <div class="news__post-wrapper">
            <div class="news__post-header">
              <img src="img/content/news-post-logo.png" class="news__post-logo">
              <div class="news__post-header-text">
                <h3 class="news__post-title">Serious Science</h3>
                <p class="news__post-date">December 31, 2021</p>
              </div>
              <svg class="news__post-vk-logo" width="25" height="25" aria-hidden="true">
                <use xlink:href="#logo-vk"></use>
              </svg>
            </div>
            <div class="news__post-text">
              How does diabetes challenge sustainable development of low-income countries?
            </div>
            <a href="#" class="news__post-link">Read more</a>
          </div>
          <img src="img/content/news-post-photo.png" class="news__post-photo">
        </div>
      </div>
    </div>
  </div>
  <div class="news__slider-navigation">
    <button class="slider-navigation-btn slider-navigation-btn--prev"></button>
    <button class="slider-navigation-btn slider-navigation-btn--next"></button>
  </div>
  
</section>