<section id="people" class="people">
  <h2 class="people__title title-lg">
    Люди о&nbsp;ESG-проектах VK
  </h2>
  <div class="people__wrapper">
    <div class="people__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--less">
          <div class="people__card">
            <div class="people__card-video">
              <iframe class="people__card-video-frame" src="https://vk.com/video_ext.php?oid=-194351072&id=456239560&hash=d0e2194eb596dff2" width="333" height="660" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            @@include("source/html/components/like-button.html", {
              id: 1,
            })
          </div>
        </div>
        <div class="swiper-slide swiper-slide--more">
          <div class="people__card">
            <div class="people__card-video">
              <iframe class="people__card-video-frame" src="https://vk.com/video_ext.php?oid=-194351072&id=456239564&hash=e0e5a50e8794e669" width="333" height="660" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            @@include("source/html/components/like-button.html", {
              id: 2,
            })
          </div>
        </div>
        <div class="swiper-slide swiper-slide--less">
          <div class="people__card">
            <div class="people__card-video">
              <iframe class="people__card-video-frame" src="https://vk.com/video_ext.php?oid=-194351072&id=456239480&hash=a52f42a1827e1ab8" width="333" height="660" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            @@include("source/html/components/like-button.html", {
              id: 3,
            })
          </div>
        </div>
        <div class="swiper-slide swiper-slide--more">
          <div class="people__card">
            <div class="people__card-video">
              <iframe class="people__card-video-frame" src="https://vk.com/video_ext.php?oid=-194351072&id=456239591&hash=a800bce52ecc03d6" width="333" height="660" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            @@include("source/html/components/like-button.html", {
              id: 4,
            })
          </div>
        </div>
        <div class="swiper-slide swiper-slide--less">
          <div class="people__card">
            <div class="people__card-video">
              <iframe class="people__card-video-frame" src="https://vk.com/video_ext.php?oid=-194351072&id=456239626&hash=559a51a36be166d6" width="333" height="660" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            @@include("source/html/components/like-button.html", {
              id: 5,
            })
          </div>
        </div>
      </div>
      <div class="people__slider-navigation">
        <button class="slider-navigation-btn slider-navigation-btn--prev"></button>
        <button class="slider-navigation-btn slider-navigation-btn--next"></button>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <img class="bg-circle" id="circle1" src="img/svg/bg-circle-purple.svg" />
  </div>
  
  
</section>