<section class="quiz">
  <h2 class="quiz__title">
    Пройдите опрос по&nbsp;нашим проектам
  </h2>
  <p class="quiz__description">
    Если вы&nbsp;находитесь на&nbsp;этой страничке&nbsp;&mdash; вы&nbsp;являетесь одним из&nbsp;ключевых стейкхолдеров VK. Пожалуйста, помогите нам расставить приоритеты на&nbsp;2022 год&nbsp;&mdash; пройдите небольшой опрос по&nbsp;существенным темам.
  </p>
  <a href="https://survey.alchemer.com/s3/6784913/ESG" class="quiz__link" target="_blank">Пройти опрос</a>
</section>