<section id="share" class="share">
  <h2 class="share__title title-lg">
    Расскажите о&nbsp;проектах&nbsp;VK
  </h2>
  <p class="share__description">
    Давайте делиться нашими успехами в&nbsp;области ESG, ведь чем больше людей узнает о&nbsp;них&nbsp;&mdash; тем больше участников будет у&nbsp;наших социальных и&nbsp;экологических инициатив. Нам будет очень приятно, если вы&nbsp;поделитесь нашими успехами в&nbsp;своих соцсетях!
  </p>
  <ul class="share__social">
    <li class="share__social-item">
      <a href="#" class="share__social-link">
        <svg class="share__social-link-icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="#icon-vk"></use>
        </svg>
      </a>
    </li>
    <li class="share__social-item">
      <a href="#" class="share__social-link">
        <svg class="share__social-link-icon" width="12" height="19" aria-hidden="true">
          <use xlink:href="#icon-ok"></use>
        </svg>
      </a>
    </li>
    <li class="share__social-item">
      <a href="#" class="share__social-link">
        <svg class="share__social-link-icon" width="20" height="16" aria-hidden="true">
          <use xlink:href="#icon-url"></use>
        </svg>
      </a>
    </li>
  </ul>
  <a href="#" class="share__download">Скачать ESG-отчёт</a>
</section>