<section id="social" class="social news-block">
  <div class="container">
    <h2 class="news-block__title title-lg">Social</h2>
    <p class="news-block__description">
      Наши сотрудники&nbsp;&mdash; это&nbsp;то, что делает нас успешным бизнесом. Мы&nbsp;считаем своей важнейшей задачей привлекать и&nbsp;удерживать лучших специалистов, обеспечивая инклюзивную, справедливую и&nbsp;благоприятную рабочую среду. Мы&nbsp;сотрудничаем с&nbsp;ведущими университетами и&nbsp;школами для привлечения талантливых студентов.
    </p>
    <div class="news-block__news-list">
      <ul class="news-block__news-list-column">
        <li class="news-block__news">
          <div class="test test--blue" data-test-id="34798512">
            <p class="test__question">Сколько лет самому старшему сотруднику&nbsp;VK?</p>
            <ul class="test__answers">
              <li class="test__answer">
                <button>57</button>
              </li>
              <li class="test__answer">
                <button>63</button>
              </li>
              <li class="test__answer">
                <button>71</button>
              </li>
              <li class="test__answer">
                <button>85</button>
              </li>
            </ul>
            <p class="test__count">
              Проголосовали <span>-</span> человек
            </p>
          </div>
        </li>
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <img src="img/content/post-8.png" class="post__photo">
              @@include("source/html/components/like-button.html", {
                id: 13,
              })
            </div>
            <h3 class="post__title">Таланты</h3>
            <p class="post__description">
              Привлечение и&nbsp;развитие талантов&nbsp;&mdash; одно из&nbsp;важнейших направлений ESG-стратегии VK. В&nbsp;2021 году мы&nbsp;провели оценку для 3586&nbsp;сотрудников, чтобы найти таланты на&nbsp;ключевых ролях, и&nbsp;составили 420 индивидуальных планов по&nbsp;развитию и&nbsp;удержанию для них. Для непрерывного развития сотрудников мы&nbsp;провели оценку навыков для 38&nbsp;команд, в&nbsp;которых приняли участие 6900+&nbsp;сотрудников. А&nbsp;для развития команд мы&nbsp;запустили большое исследование вовлеченности и&nbsp;лояльности, где приняли участие 5159 человек (60% компании) и&nbsp;оставили 1500+ идеи по&nbsp;улучшению внутренних процессов и&nbsp;взаимодействия.
            </p>
            <a href="#" class="post__more">Результаты проекта</a>
          </div>
        </li>
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <iframe class="post__photo" width="467" height="293" src="https://www.youtube.com/embed/_1efTVQUFiE" title="Онлайн-тренажер поддержки #надопоговорить" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              @@include("source/html/components/like-button.html", {
                id: 10,
              })
            </div>
            <h3 class="post__title">#НадоПоговорить</h3>
            <p class="post__description">
              В&nbsp;2021 году Добро Mail.ru запустили кампанию #надопоговорить. Цель проекта: дестигматизировать тему перинатальных потерь в&nbsp;России. Mail.ru Group и&nbsp;Добро Mail.ru вместе с&nbsp;экспертами и&nbsp;некоммерческими организациями изучили перинатальные потери и&nbsp;помогают семьям, столкнувшимся с&nbsp;ними, жить дальше.
            </p>
          </div>
        </li>
      </ul>
      <ul class="news-block__news-list-column">
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <img src="img/content/post-9.png" class="post__photo">
              @@include("source/html/components/like-button.html", {
                id: 14,
              })
            </div>
            <h3 class="post__title">VK&nbsp;Образование (Профориентационная кампания для школьников по&nbsp;теме разработки игр)</h3>
            <p class="post__description">
              В&nbsp;2021 году&nbsp;VK активно помогала школьникам из&nbsp;разных уголков страны стать ближе к&nbsp;миру разработки игр. Знакомство ребят с&nbsp;профессиями в&nbsp;игровой сфере началось с&nbsp;профориентационной акции &laquo;День ИТ-знаний&raquo; с&nbsp;участием экспертов MY.GAMES и&nbsp;индустрии&nbsp;&mdash; она собрала <b>СВЫШЕ 290&nbsp;ТЫСЯЧ ШКОЛЬНИКОВ</b>. На&nbsp;втором этапе&nbsp;VK провела свой &laquo;Урок цифры&raquo;&nbsp;&mdash; <b>БОЛЕЕ 3&nbsp;МЛН ШКОЛЬНИКОВ</b> на&nbsp;специальных тренажерах от&nbsp;студии BIT.GAMES смогли попробовать свои силы в&nbsp;качестве разработчиков игр и&nbsp;других профессиях. Завершающим этапом кампании стала Всероссийская олимпиада по&nbsp;программированию совместно с&nbsp;Учи.ру, в&nbsp;которой приняли участие <b>577&nbsp;ТЫСЯЧ ШКОЛЬНИКОВ</b>. 
            </p>
          </div>
        </li>
        <li class="news-block__news">
          <div class="post">
            <div class="post__photo-wrapper">
              <iframe class="post__photo" src="https://vk.com/video_ext.php?oid=-101435075&id=456239491&hash=f31cd889ff284c7a" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
              @@include("source/html/components/like-button.html", {
                id: 12,
              })
            </div>
            <h3 class="post__title">КиберБуллинг</h3>
            <p class="post__description">
              В&nbsp;2019 году мы&nbsp;учредили в&nbsp;России День борьбы с&nbsp;кибербуллингом, чтобы общество осознало всю серьезность проблемы. С&nbsp;11&nbsp;до&nbsp;30&nbsp;ноября мы&nbsp;говорим о&nbsp;проблеме кибербуллинга в&nbsp;России, о&nbsp;том, как человек может остановить травлю, кем&nbsp;бы он&nbsp;в&nbsp;этой ситуации ни&nbsp;был&nbsp;&mdash; жертвой, наблюдателем или агрессором. В&nbsp;2021 этом году проект поддержали более 70&nbsp;брендов.
            </p>
          </div>
        </li>
        
        
      </ul>
    </div>
  </div>

  <img class="bg-circle" id="circle4" src="img/svg/bg-circle-turquoise.svg" />
</section>