<section id="welcome" class="welcome">
  <img src="img/svg/vk-logo.svg" class="welcome__logo" width="123" height="123">
  <h1 class="welcome__title title-lg">VK&nbsp;помогает объединяться вокруг действительно важного</h1>
  <p class="welcome__description">
    Мы&nbsp;уделяем особое внимание социальным и&nbsp;экологическим проблемам, созданию комфортных условий для наших сотрудников&nbsp;&mdash; и&nbsp;вместе с&nbsp;пользователями, партнерами и&nbsp;клиентами добиваемся изменений к&nbsp;лучшему.
  </p>
  <p class="welcome__thanks">
    Эта страница расскажет о&nbsp;самых важных социальных, экологических и&nbsp;управленческих инициативах&nbsp;VK за&nbsp;2021&nbsp;год. Спасибо, что были частью этих проектов! 
  </p>
  <a href="#welcome-video" class="welcome__button">
    <img src="img/svg/btn-with-arrow.svg" class="welcome__button-pic" width="24" height="24" />
  </a>

  <div id="welcome-video" class="welcome__video-wrapper">
    <iframe class="welcome__video" src="https://vk.com/video_ext.php?oid=-156923926&id=456239224&hash=bef29bb9e29e41e0" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
  </div>

  <img class="bg-circle" id="circle5" src="img/bg/bg-circle-blue.png" />
</section>